*{
    margin: 0;
    padding: 0 0;
}

/*-------------------------------Navbar------------------------------*/

.nav-link{
    font-family: 'PT Sans',sans-serif;
    color: black;
    font-size: large;
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
    margin-right: 50px;
}

.nav-link:hover{
    color: #84639A;
}

.active{
    text-decoration-line: underline;
    text-underline-position: under;
}

.navbar-toggler-icon{
    color: black;
}









/*-------------------------------Footer------------------------------*/
.footer-container{
    padding: 0px;
}


.footer-link{
    color:white;
}

.social-networks li{
    display: inline;
}
